am-base/openam/WEB-INF/wsdl/IdentityManagementServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="IdentityManagementServices" targetNamespace="http://isp.com/wsdl" xmlns:tns="http://isp.com/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:ns3="http://isp.com/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://isp.com/types"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType>
      <complexType name="set">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema>
    <schema targetNamespace="http://isp.com/types" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://isp.com/types" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="SMSException">
        <sequence>
          <element name="errorCode" type="string"/>
          <element name="messageArgs" type="tns:ArrayOfanyType"/>
          <element name="resourceBundleName" type="string"/>
          <element name="exceptionCode" type="int"/>
          <element name="message" type="string"/></sequence></complexType>
      <complexType name="ArrayOfanyType">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType>
      <complexType name="SSOException">
        <complexContent>
          <extension base="tns:L10NMessageImpl">
            <sequence>
              <element name="l10NMessage" type="string"/></sequence></extension></complexContent></complexType>
      <complexType name="L10NMessageImpl">
        <sequence>
          <element name="errorCode" type="string"/>
          <element name="messageArgs" type="tns:ArrayOfanyType"/>
          <element name="resourceBundleName" type="string"/>
          <element name="message" type="string"/></sequence></complexType>
      <complexType name="IdRepoException">
        <sequence>
          <element name="errorCode" type="string"/>
          <element name="messageArgs" type="tns:ArrayOfanyType"/>
          <element name="resourceBundleName" type="string"/>
          <element name="LDAPErrorCode" type="string"/>
          <element name="constraintViolationDetails" type="string"/>
          <element name="ldapErrorIntCode" type="int"/>
          <element name="message" type="string"/></sequence></complexType></schema></types>
  <message name="SMSObjectIF_checkForLocal"/>
  <message name="SMSObjectIF_checkForLocalResponse"/>
  <message name="SMSObjectIF_create">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="Map_3" type="ns2:map"/></message>
  <message name="SMSObjectIF_createResponse"/>
  <message name="SMSException">
    <part name="SMSException" type="ns3:SMSException"/></message>
  <message name="SSOException">
    <part name="SSOException" type="ns3:SSOException"/></message>
  <message name="SMSObjectIF_deRegisterNotificationURL">
    <part name="String_1" type="xsd:string"/></message>
  <message name="SMSObjectIF_deRegisterNotificationURLResponse"/>
  <message name="SMSObjectIF_delete">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="SMSObjectIF_deleteResponse"/>
  <message name="SMSObjectIF_entryExists">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="SMSObjectIF_entryExistsResponse">
    <part name="result" type="xsd:boolean"/></message>
  <message name="SMSObjectIF_getAMSdkBaseDN"/>
  <message name="SMSObjectIF_getAMSdkBaseDNResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="SMSObjectIF_getRootSuffix"/>
  <message name="SMSObjectIF_getRootSuffixResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="SMSObjectIF_modify">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/></message>
  <message name="SMSObjectIF_modifyResponse"/>
  <message name="SMSObjectIF_notifyObjectChanged">
    <part name="String_1" type="xsd:string"/>
    <part name="int_2" type="xsd:int"/></message>
  <message name="SMSObjectIF_notifyObjectChangedResponse"/>
  <message name="SMSObjectIF_objectsChanged">
    <part name="int_1" type="xsd:int"/></message>
  <message name="SMSObjectIF_objectsChangedResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="SMSObjectIF_read">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="SMSObjectIF_readResponse">
    <part name="result" type="ns2:map"/></message>
  <message name="SMSObjectIF_registerNotificationURL">
    <part name="String_1" type="xsd:string"/></message>
  <message name="SMSObjectIF_registerNotificationURLResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="SMSObjectIF_schemaSubEntries">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="int_5" type="xsd:int"/>
    <part name="boolean_6" type="xsd:boolean"/>
    <part name="boolean_7" type="xsd:boolean"/></message>
  <message name="SMSObjectIF_schemaSubEntriesResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="SMSObjectIF_search">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/></message>
  <message name="SMSObjectIF_searchResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="SMSObjectIF_search2">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="int_4" type="xsd:int"/>
    <part name="int_5" type="xsd:int"/>
    <part name="boolean_6" type="xsd:boolean"/>
    <part name="boolean_7" type="xsd:boolean"/></message>
  <message name="SMSObjectIF_search2Response">
    <part name="result" type="ns2:set"/></message>
  <message name="SMSObjectIF_search3">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="int_4" type="xsd:int"/>
    <part name="int_5" type="xsd:int"/>
    <part name="boolean_6" type="xsd:boolean"/>
    <part name="boolean_7" type="xsd:boolean"/>
    <part name="Set_8" type="ns2:set"/></message>
  <message name="SMSObjectIF_search3Response">
    <part name="result" type="ns2:set"/></message>
  <message name="SMSObjectIF_searchOrganizationNames">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="int_3" type="xsd:int"/>
    <part name="boolean_4" type="xsd:boolean"/>
    <part name="boolean_5" type="xsd:boolean"/>
    <part name="String_6" type="xsd:string"/>
    <part name="String_7" type="xsd:string"/>
    <part name="Set_8" type="ns2:set"/></message>
  <message name="SMSObjectIF_searchOrganizationNamesResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="SMSObjectIF_searchSubOrgNames">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="int_4" type="xsd:int"/>
    <part name="boolean_5" type="xsd:boolean"/>
    <part name="boolean_6" type="xsd:boolean"/>
    <part name="boolean_7" type="xsd:boolean"/></message>
  <message name="SMSObjectIF_searchSubOrgNamesResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="SMSObjectIF_subEntries">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="int_4" type="xsd:int"/>
    <part name="boolean_5" type="xsd:boolean"/>
    <part name="boolean_6" type="xsd:boolean"/></message>
  <message name="SMSObjectIF_subEntriesResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="SMSObjectIF_validateServiceAttributes">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="Set_3" type="ns2:set"/></message>
  <message name="SMSObjectIF_validateServiceAttributesResponse">
    <part name="result" type="xsd:boolean"/></message>
  <message name="DirectoryManagerIF_assignService_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="String_5" type="xsd:string"/>
    <part name="Map_6" type="ns2:map"/>
    <part name="String_7" type="xsd:string"/>
    <part name="String_8" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_assignService_idrepoResponse"/>
  <message name="IdRepoException">
    <part name="IdRepoException" type="ns3:IdRepoException"/></message>
  <message name="DirectoryManagerIF_changePassword_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="String_5" type="xsd:string"/>
    <part name="String_6" type="xsd:string"/>
    <part name="String_7" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_changePassword_idrepoResponse"/>
  <message name="DirectoryManagerIF_create_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="Map_4" type="ns2:map"/>
    <part name="String_5" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_create_idrepoResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_deRegisterNotificationURL_idrepo">
    <part name="String_1" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_deRegisterNotificationURL_idrepoResponse"/>
  <message name="DirectoryManagerIF_delete_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="String_5" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_delete_idrepoResponse"/>
  <message name="DirectoryManagerIF_getAssignedServices_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="Map_4" type="ns2:map"/>
    <part name="String_5" type="xsd:string"/>
    <part name="String_6" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getAssignedServices_idrepoResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="DirectoryManagerIF_getAttributes1_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="Set_4" type="ns2:set"/>
    <part name="String_5" type="xsd:string"/>
    <part name="String_6" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getAttributes1_idrepoResponse">
    <part name="result" type="ns2:map"/></message>
  <message name="DirectoryManagerIF_getAttributes2_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="String_5" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getAttributes2_idrepoResponse">
    <part name="result" type="ns2:map"/></message>
  <message name="DirectoryManagerIF_getBinaryAttributes_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="Set_4" type="ns2:set"/>
    <part name="String_5" type="xsd:string"/>
    <part name="String_6" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getBinaryAttributes_idrepoResponse">
    <part name="result" type="ns2:map"/></message>
  <message name="DirectoryManagerIF_getBinaryServiceAttributes_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="Set_5" type="ns2:set"/>
    <part name="String_6" type="xsd:string"/>
    <part name="String_7" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getBinaryServiceAttributes_idrepoResponse">
    <part name="result" type="ns2:map"/></message>
  <message name="DirectoryManagerIF_getFullyQualifiedNames_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getFullyQualifiedNames_idrepoResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="DirectoryManagerIF_getMembers_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="String_5" type="xsd:string"/>
    <part name="String_6" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getMembers_idrepoResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="DirectoryManagerIF_getMemberships_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="String_5" type="xsd:string"/>
    <part name="String_6" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getMemberships_idrepoResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="DirectoryManagerIF_getServiceAttributesAscending_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="Set_5" type="ns2:set"/>
    <part name="String_6" type="xsd:string"/>
    <part name="String_7" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getServiceAttributesAscending_idrepoResponse">
    <part name="result" type="ns2:map"/></message>
  <message name="DirectoryManagerIF_getServiceAttributes_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="Set_5" type="ns2:set"/>
    <part name="String_6" type="xsd:string"/>
    <part name="String_7" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getServiceAttributes_idrepoResponse">
    <part name="result" type="ns2:map"/></message>
  <message name="DirectoryManagerIF_getSpecialIdentities_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getSpecialIdentities_idrepoResponse">
    <part name="result" type="ns2:map"/></message>
  <message name="DirectoryManagerIF_getSupportedOperations_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getSupportedOperations_idrepoResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="DirectoryManagerIF_getSupportedTypes_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_getSupportedTypes_idrepoResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="DirectoryManagerIF_isActive_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="String_5" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_isActive_idrepoResponse">
    <part name="result" type="xsd:boolean"/></message>
  <message name="DirectoryManagerIF_isExists_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_isExists_idrepoResponse">
    <part name="result" type="xsd:boolean"/></message>
  <message name="DirectoryManagerIF_modifyMemberShip_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="Set_4" type="ns2:set"/>
    <part name="String_5" type="xsd:string"/>
    <part name="int_6" type="xsd:int"/>
    <part name="String_7" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_modifyMemberShip_idrepoResponse"/>
  <message name="DirectoryManagerIF_modifyService_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="String_5" type="xsd:string"/>
    <part name="Map_6" type="ns2:map"/>
    <part name="String_7" type="xsd:string"/>
    <part name="String_8" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_modifyService_idrepoResponse"/>
  <message name="DirectoryManagerIF_objectsChanged_idrepo">
    <part name="int_1" type="xsd:int"/></message>
  <message name="DirectoryManagerIF_objectsChanged_idrepoResponse">
    <part name="result" type="ns2:set"/></message>
  <message name="DirectoryManagerIF_registerNotificationURL_idrepo">
    <part name="String_1" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_registerNotificationURL_idrepoResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_removeAttributes_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="Set_4" type="ns2:set"/>
    <part name="String_5" type="xsd:string"/>
    <part name="String_6" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_removeAttributes_idrepoResponse"/>
  <message name="DirectoryManagerIF_search1_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="Map_4" type="ns2:map"/>
    <part name="boolean_5" type="xsd:boolean"/>
    <part name="int_6" type="xsd:int"/>
    <part name="int_7" type="xsd:int"/>
    <part name="Set_8" type="ns2:set"/>
    <part name="String_9" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_search1_idrepoResponse">
    <part name="result" type="ns2:map"/></message>
  <message name="DirectoryManagerIF_search2_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="int_4" type="xsd:int"/>
    <part name="int_5" type="xsd:int"/>
    <part name="Set_6" type="ns2:set"/>
    <part name="boolean_7" type="xsd:boolean"/>
    <part name="int_8" type="xsd:int"/>
    <part name="Map_9" type="ns2:map"/>
    <part name="boolean_10" type="xsd:boolean"/>
    <part name="String_11" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_search2_idrepoResponse">
    <part name="result" type="ns2:map"/></message>
  <message name="DirectoryManagerIF_setActiveStatus_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="String_5" type="xsd:string"/>
    <part name="boolean_6" type="xsd:boolean"/></message>
  <message name="DirectoryManagerIF_setActiveStatus_idrepoResponse"/>
  <message name="DirectoryManagerIF_setAttributes2_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="Map_4" type="ns2:map"/>
    <part name="boolean_5" type="xsd:boolean"/>
    <part name="String_6" type="xsd:string"/>
    <part name="String_7" type="xsd:string"/>
    <part name="boolean_8" type="xsd:boolean"/></message>
  <message name="DirectoryManagerIF_setAttributes2_idrepoResponse"/>
  <message name="DirectoryManagerIF_setAttributes_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="Map_4" type="ns2:map"/>
    <part name="boolean_5" type="xsd:boolean"/>
    <part name="String_6" type="xsd:string"/>
    <part name="String_7" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_setAttributes_idrepoResponse"/>
  <message name="DirectoryManagerIF_unassignService_idrepo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="Map_5" type="ns2:map"/>
    <part name="String_6" type="xsd:string"/>
    <part name="String_7" type="xsd:string"/></message>
  <message name="DirectoryManagerIF_unassignService_idrepoResponse"/>
  <portType name="SMSObjectIF">
    <operation name="checkForLocal">
      <input message="tns:SMSObjectIF_checkForLocal"/>
      <output message="tns:SMSObjectIF_checkForLocalResponse"/></operation>
    <operation name="create" parameterOrder="String_1 String_2 Map_3">
      <input message="tns:SMSObjectIF_create"/>
      <output message="tns:SMSObjectIF_createResponse"/>
      <fault name="SMSException" message="tns:SMSException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="deRegisterNotificationURL" parameterOrder="String_1">
      <input message="tns:SMSObjectIF_deRegisterNotificationURL"/>
      <output message="tns:SMSObjectIF_deRegisterNotificationURLResponse"/></operation>
    <operation name="delete" parameterOrder="String_1 String_2">
      <input message="tns:SMSObjectIF_delete"/>
      <output message="tns:SMSObjectIF_deleteResponse"/>
      <fault name="SMSException" message="tns:SMSException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="entryExists" parameterOrder="String_1 String_2">
      <input message="tns:SMSObjectIF_entryExists"/>
      <output message="tns:SMSObjectIF_entryExistsResponse"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getAMSdkBaseDN">
      <input message="tns:SMSObjectIF_getAMSdkBaseDN"/>
      <output message="tns:SMSObjectIF_getAMSdkBaseDNResponse"/></operation>
    <operation name="getRootSuffix">
      <input message="tns:SMSObjectIF_getRootSuffix"/>
      <output message="tns:SMSObjectIF_getRootSuffixResponse"/></operation>
    <operation name="modify" parameterOrder="String_1 String_2 String_3">
      <input message="tns:SMSObjectIF_modify"/>
      <output message="tns:SMSObjectIF_modifyResponse"/>
      <fault name="SMSException" message="tns:SMSException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="notifyObjectChanged" parameterOrder="String_1 int_2">
      <input message="tns:SMSObjectIF_notifyObjectChanged"/>
      <output message="tns:SMSObjectIF_notifyObjectChangedResponse"/></operation>
    <operation name="objectsChanged" parameterOrder="int_1">
      <input message="tns:SMSObjectIF_objectsChanged"/>
      <output message="tns:SMSObjectIF_objectsChangedResponse"/></operation>
    <operation name="read" parameterOrder="String_1 String_2">
      <input message="tns:SMSObjectIF_read"/>
      <output message="tns:SMSObjectIF_readResponse"/>
      <fault name="SMSException" message="tns:SMSException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="registerNotificationURL" parameterOrder="String_1">
      <input message="tns:SMSObjectIF_registerNotificationURL"/>
      <output message="tns:SMSObjectIF_registerNotificationURLResponse"/></operation>
    <operation name="schemaSubEntries" parameterOrder="String_1 String_2 String_3 String_4 int_5 boolean_6 boolean_7">
      <input message="tns:SMSObjectIF_schemaSubEntries"/>
      <output message="tns:SMSObjectIF_schemaSubEntriesResponse"/>
      <fault name="SMSException" message="tns:SMSException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="search" parameterOrder="String_1 String_2 String_3">
      <input message="tns:SMSObjectIF_search"/>
      <output message="tns:SMSObjectIF_searchResponse"/>
      <fault name="SMSException" message="tns:SMSException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="search2" parameterOrder="String_1 String_2 String_3 int_4 int_5 boolean_6 boolean_7">
      <input message="tns:SMSObjectIF_search2"/>
      <output message="tns:SMSObjectIF_search2Response"/>
      <fault name="SMSException" message="tns:SMSException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="search3" parameterOrder="String_1 String_2 String_3 int_4 int_5 boolean_6 boolean_7 Set_8">
      <input message="tns:SMSObjectIF_search3"/>
      <output message="tns:SMSObjectIF_search3Response"/>
      <fault name="SMSException" message="tns:SMSException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="searchOrganizationNames" parameterOrder="String_1 String_2 int_3 boolean_4 boolean_5 String_6 String_7 Set_8">
      <input message="tns:SMSObjectIF_searchOrganizationNames"/>
      <output message="tns:SMSObjectIF_searchOrganizationNamesResponse"/>
      <fault name="SMSException" message="tns:SMSException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="searchSubOrgNames" parameterOrder="String_1 String_2 String_3 int_4 boolean_5 boolean_6 boolean_7">
      <input message="tns:SMSObjectIF_searchSubOrgNames"/>
      <output message="tns:SMSObjectIF_searchSubOrgNamesResponse"/>
      <fault name="SMSException" message="tns:SMSException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="subEntries" parameterOrder="String_1 String_2 String_3 int_4 boolean_5 boolean_6">
      <input message="tns:SMSObjectIF_subEntries"/>
      <output message="tns:SMSObjectIF_subEntriesResponse"/>
      <fault name="SMSException" message="tns:SMSException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="validateServiceAttributes" parameterOrder="String_1 String_2 Set_3">
      <input message="tns:SMSObjectIF_validateServiceAttributes"/>
      <output message="tns:SMSObjectIF_validateServiceAttributesResponse"/>
      <fault name="SMSException" message="tns:SMSException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation></portType>
  <portType name="DirectoryManagerIF">
    <operation name="assignService_idrepo" parameterOrder="String_1 String_2 String_3 String_4 String_5 Map_6 String_7 String_8">
      <input message="tns:DirectoryManagerIF_assignService_idrepo"/>
      <output message="tns:DirectoryManagerIF_assignService_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="changePassword_idrepo" parameterOrder="String_1 String_2 String_3 String_4 String_5 String_6 String_7">
      <input message="tns:DirectoryManagerIF_changePassword_idrepo"/>
      <output message="tns:DirectoryManagerIF_changePassword_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="create_idrepo" parameterOrder="String_1 String_2 String_3 Map_4 String_5">
      <input message="tns:DirectoryManagerIF_create_idrepo"/>
      <output message="tns:DirectoryManagerIF_create_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="deRegisterNotificationURL_idrepo" parameterOrder="String_1">
      <input message="tns:DirectoryManagerIF_deRegisterNotificationURL_idrepo"/>
      <output message="tns:DirectoryManagerIF_deRegisterNotificationURL_idrepoResponse"/></operation>
    <operation name="delete_idrepo" parameterOrder="String_1 String_2 String_3 String_4 String_5">
      <input message="tns:DirectoryManagerIF_delete_idrepo"/>
      <output message="tns:DirectoryManagerIF_delete_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getAssignedServices_idrepo" parameterOrder="String_1 String_2 String_3 Map_4 String_5 String_6">
      <input message="tns:DirectoryManagerIF_getAssignedServices_idrepo"/>
      <output message="tns:DirectoryManagerIF_getAssignedServices_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getAttributes1_idrepo" parameterOrder="String_1 String_2 String_3 Set_4 String_5 String_6">
      <input message="tns:DirectoryManagerIF_getAttributes1_idrepo"/>
      <output message="tns:DirectoryManagerIF_getAttributes1_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getAttributes2_idrepo" parameterOrder="String_1 String_2 String_3 String_4 String_5">
      <input message="tns:DirectoryManagerIF_getAttributes2_idrepo"/>
      <output message="tns:DirectoryManagerIF_getAttributes2_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getBinaryAttributes_idrepo" parameterOrder="String_1 String_2 String_3 Set_4 String_5 String_6">
      <input message="tns:DirectoryManagerIF_getBinaryAttributes_idrepo"/>
      <output message="tns:DirectoryManagerIF_getBinaryAttributes_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getBinaryServiceAttributes_idrepo" parameterOrder="String_1 String_2 String_3 String_4 Set_5 String_6 String_7">
      <input message="tns:DirectoryManagerIF_getBinaryServiceAttributes_idrepo"/>
      <output message="tns:DirectoryManagerIF_getBinaryServiceAttributes_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getFullyQualifiedNames_idrepo" parameterOrder="String_1 String_2 String_3 String_4">
      <input message="tns:DirectoryManagerIF_getFullyQualifiedNames_idrepo"/>
      <output message="tns:DirectoryManagerIF_getFullyQualifiedNames_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getMembers_idrepo" parameterOrder="String_1 String_2 String_3 String_4 String_5 String_6">
      <input message="tns:DirectoryManagerIF_getMembers_idrepo"/>
      <output message="tns:DirectoryManagerIF_getMembers_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getMemberships_idrepo" parameterOrder="String_1 String_2 String_3 String_4 String_5 String_6">
      <input message="tns:DirectoryManagerIF_getMemberships_idrepo"/>
      <output message="tns:DirectoryManagerIF_getMemberships_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getServiceAttributesAscending_idrepo" parameterOrder="String_1 String_2 String_3 String_4 Set_5 String_6 String_7">
      <input message="tns:DirectoryManagerIF_getServiceAttributesAscending_idrepo"/>
      <output message="tns:DirectoryManagerIF_getServiceAttributesAscending_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getServiceAttributes_idrepo" parameterOrder="String_1 String_2 String_3 String_4 Set_5 String_6 String_7">
      <input message="tns:DirectoryManagerIF_getServiceAttributes_idrepo"/>
      <output message="tns:DirectoryManagerIF_getServiceAttributes_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getSpecialIdentities_idrepo" parameterOrder="String_1 String_2 String_3">
      <input message="tns:DirectoryManagerIF_getSpecialIdentities_idrepo"/>
      <output message="tns:DirectoryManagerIF_getSpecialIdentities_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getSupportedOperations_idrepo" parameterOrder="String_1 String_2 String_3">
      <input message="tns:DirectoryManagerIF_getSupportedOperations_idrepo"/>
      <output message="tns:DirectoryManagerIF_getSupportedOperations_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="getSupportedTypes_idrepo" parameterOrder="String_1 String_2">
      <input message="tns:DirectoryManagerIF_getSupportedTypes_idrepo"/>
      <output message="tns:DirectoryManagerIF_getSupportedTypes_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="isActive_idrepo" parameterOrder="String_1 String_2 String_3 String_4 String_5">
      <input message="tns:DirectoryManagerIF_isActive_idrepo"/>
      <output message="tns:DirectoryManagerIF_isActive_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="isExists_idrepo" parameterOrder="String_1 String_2 String_3 String_4">
      <input message="tns:DirectoryManagerIF_isExists_idrepo"/>
      <output message="tns:DirectoryManagerIF_isExists_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="modifyMemberShip_idrepo" parameterOrder="String_1 String_2 String_3 Set_4 String_5 int_6 String_7">
      <input message="tns:DirectoryManagerIF_modifyMemberShip_idrepo"/>
      <output message="tns:DirectoryManagerIF_modifyMemberShip_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="modifyService_idrepo" parameterOrder="String_1 String_2 String_3 String_4 String_5 Map_6 String_7 String_8">
      <input message="tns:DirectoryManagerIF_modifyService_idrepo"/>
      <output message="tns:DirectoryManagerIF_modifyService_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="objectsChanged_idrepo" parameterOrder="int_1">
      <input message="tns:DirectoryManagerIF_objectsChanged_idrepo"/>
      <output message="tns:DirectoryManagerIF_objectsChanged_idrepoResponse"/></operation>
    <operation name="registerNotificationURL_idrepo" parameterOrder="String_1">
      <input message="tns:DirectoryManagerIF_registerNotificationURL_idrepo"/>
      <output message="tns:DirectoryManagerIF_registerNotificationURL_idrepoResponse"/></operation>
    <operation name="removeAttributes_idrepo" parameterOrder="String_1 String_2 String_3 Set_4 String_5 String_6">
      <input message="tns:DirectoryManagerIF_removeAttributes_idrepo"/>
      <output message="tns:DirectoryManagerIF_removeAttributes_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="search1_idrepo" parameterOrder="String_1 String_2 String_3 Map_4 boolean_5 int_6 int_7 Set_8 String_9">
      <input message="tns:DirectoryManagerIF_search1_idrepo"/>
      <output message="tns:DirectoryManagerIF_search1_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="search2_idrepo" parameterOrder="String_1 String_2 String_3 int_4 int_5 Set_6 boolean_7 int_8 Map_9 boolean_10 String_11">
      <input message="tns:DirectoryManagerIF_search2_idrepo"/>
      <output message="tns:DirectoryManagerIF_search2_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="setActiveStatus_idrepo" parameterOrder="String_1 String_2 String_3 String_4 String_5 boolean_6">
      <input message="tns:DirectoryManagerIF_setActiveStatus_idrepo"/>
      <output message="tns:DirectoryManagerIF_setActiveStatus_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="setAttributes2_idrepo" parameterOrder="String_1 String_2 String_3 Map_4 boolean_5 String_6 String_7 boolean_8">
      <input message="tns:DirectoryManagerIF_setAttributes2_idrepo"/>
      <output message="tns:DirectoryManagerIF_setAttributes2_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="setAttributes_idrepo" parameterOrder="String_1 String_2 String_3 Map_4 boolean_5 String_6 String_7">
      <input message="tns:DirectoryManagerIF_setAttributes_idrepo"/>
      <output message="tns:DirectoryManagerIF_setAttributes_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation>
    <operation name="unassignService_idrepo" parameterOrder="String_1 String_2 String_3 String_4 Map_5 String_6 String_7">
      <input message="tns:DirectoryManagerIF_unassignService_idrepo"/>
      <output message="tns:DirectoryManagerIF_unassignService_idrepoResponse"/>
      <fault name="IdRepoException" message="tns:IdRepoException"/>
      <fault name="SSOException" message="tns:SSOException"/></operation></portType>
  <binding name="SMSObjectIFBinding" type="tns:SMSObjectIF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="checkForLocal">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output></operation>
    <operation name="create">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SMSException">
        <soap:fault name="SMSException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="deRegisterNotificationURL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output></operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SMSException">
        <soap:fault name="SMSException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="entryExists">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getAMSdkBaseDN">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output></operation>
    <operation name="getRootSuffix">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output></operation>
    <operation name="modify">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SMSException">
        <soap:fault name="SMSException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="notifyObjectChanged">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output></operation>
    <operation name="objectsChanged">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output></operation>
    <operation name="read">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SMSException">
        <soap:fault name="SMSException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="registerNotificationURL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output></operation>
    <operation name="schemaSubEntries">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SMSException">
        <soap:fault name="SMSException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="search">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SMSException">
        <soap:fault name="SMSException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="search2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SMSException">
        <soap:fault name="SMSException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="search3">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SMSException">
        <soap:fault name="SMSException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="searchOrganizationNames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SMSException">
        <soap:fault name="SMSException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="searchSubOrgNames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SMSException">
        <soap:fault name="SMSException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="subEntries">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SMSException">
        <soap:fault name="SMSException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="validateServiceAttributes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="SMSException">
        <soap:fault name="SMSException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation></binding>
  <binding name="DirectoryManagerIFBinding" type="tns:DirectoryManagerIF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="assignService_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="changePassword_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="create_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="deRegisterNotificationURL_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output></operation>
    <operation name="delete_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getAssignedServices_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getAttributes1_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getAttributes2_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getBinaryAttributes_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getBinaryServiceAttributes_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getFullyQualifiedNames_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getMembers_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getMemberships_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getServiceAttributesAscending_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getServiceAttributes_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getSpecialIdentities_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getSupportedOperations_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="getSupportedTypes_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="isActive_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="isExists_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="modifyMemberShip_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="modifyService_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="objectsChanged_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output></operation>
    <operation name="registerNotificationURL_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output></operation>
    <operation name="removeAttributes_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="search1_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="search2_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="setActiveStatus_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="setAttributes2_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="setAttributes_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation>
    <operation name="unassignService_idrepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></output>
      <fault name="IdRepoException">
        <soap:fault name="IdRepoException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault>
      <fault name="SSOException">
        <soap:fault name="SSOException" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://isp.com/wsdl"/></fault></operation></binding>
  <service name="IdentityManagementServices">
    <port name="SMSObjectIFPort" binding="tns:SMSObjectIFBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/></port>
    <port name="DirectoryManagerIFPort" binding="tns:DirectoryManagerIFBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/></port></service></definitions>
